@charset 'utf-8';
.wrap-bother {
	position: absolute;
	top: 0;
	left: 0;
}
.wrap-out {
	animation: 1s showthis forwards linear;
}
@keyframes showthis {
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.wrap-out .wrap-bother:nth-child(1) {
	background: url(../images/bublle06.jpg) no-repeat;
	background-size: cover;
}
.wrap-out .wrap-bother:nth-child(2) {
	background: url(../images/bublle03.jpg) no-repeat;
	background-size: cover;
}
.wrap-out .wrap-bother:nth-child(3) {
	background: url(../images/bublle04.jpg) no-repeat;
	background-size: cover;
}
.wrap-out .wrap-bother:nth-child(4) {
	background: url(../images/bublle05.jpg) no-repeat;
	background-size: cover;
}
.wrap-out .wrap-bother:nth-child(5) {
	background: url(../images/bublle01.jpg) no-repeat;
	background-size: cover;
}
.wrap-out {
	position: relative;
}
.box {
	position: relative;
	width: 99%;
	height: 99%;
	left: 0;
	top: 0;
}
.box a {
	position: absolute;
	overflow: hidden;
	float: left;
/*	left: 0px;
	bottom: 0px;*/
	width: 200px;
	height: 200px;
	border-radius: 50%;
	font-size: 30px;
	color: #ff9;
	text-align: center;
	line-height: 200px;
	text-shadow: 1px 1px 1px brown,
				-1px 1px 1px brown,
				1px -1px 1px brown,
				-1px -1px 1px brown,
				0px -5px 10px blue;
}
.box a span:nth-last-child(1) {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: url(../images/bubble1.png) no-repeat;
	background-size: 100%;
}

.box a span:nth-child(1) {
	opacity: 0;
	font-size: 12px;
	transition: all 0.7s ease-in;
}
.box a:hover span:nth-child(1) {
	font-size: 46px;
	opacity: 1;
}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
.musics {
    position: fixed;
    top: 25px;
    right: 10px;
    width: 55px;
    height: 55px;
    z-index: 1;
	cursor: pointer;
}
.musics::after {
    position: absolute;
    content: "";
    left: 25px;
    top: -24px;
    width: 30px;
    height: 48px;
    background-image: url(../images/needle-ab.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.musics img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    animation: rotate_ani 9S infinite linear;
}
@keyframes rotate_ani{
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}